.calendar {
	box-sizing: border-box;
	background: #FFFFFF;
	border: 1px solid var(--grey-3);
	border-radius: 8px;
	width: 304px; /*del */
	height: 324px; /*del*/

}
.calendar__wrapper {
	padding-bottom: 100%;
	position: relative;
}
.calendar__inner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.calendar__title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: var(--dark-blue);
	display: flex;
	justify-content: center;
	padding: 0;
	margin-top: 28px;
	margin-left: 3px; /* (88-83) /2  */
	margin-bottom: 24px;
}